{% extends "base.html" %}
{% block main %}
<a href="{% url 'inner_circle:producto_list' %}">productos global</a>
<a href="{% url 'inner_circle:profile_detail' pk=request.user.profile.pk %}">perfil de usuario</a>
<h3>Lista de Productos de Amigos</h3>
{% if request.user.is_authenticated %}
    <p>>>{{user.profile.nombre_tag}}<<</p>
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">logout</button>
    </form>
{% else %}
    <p>ve a la pantalla de login</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}


{% if amigos_productos %}  
        {% for p in amigos_productos %}
        <p>
        
        {% if p.user.profile.img_perfil %}
            <img src="{{p.user.profile.img_perfil.url}}" alt="" width="20" height="20">
        {% endif %}
            
        {{p.nombre}}
        {{p.precio}}
        {{p.talla}}
        creador por: {{p.user.profile.nombre_tag}}
        
        <img src="{{p.img_prod.url}}" alt="" width=200 height=200>
        </p>
     
        {% endfor %}
    
{% endif %}
    

{% if productos %}
    {% for p in productos  %}
        {{p.name}}
        {{p.precio}}
        {{p.talla}}
    {% endfor %}
{% else %}
    <p>no hay productos aún<p>
{% endif %}
{% endblock main %}
