{% extends "base.html" %}
{% block main %}
<a href="{% url 'inner_circle:producto_list' %}">productos global</a>
<a href="{% url 'inner_circle:p' %}">perfil de usuario</a>
<h3>Lista de Productos de Amigos</h3>
{% if request.user.is_authenticated %}
    <p>{{user.profile.name_tag}}</p>
    <p>{{user.username}}</p>
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">logout</button>
    </form>
{% else %}
    <p>ve a la pantalla de login</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}

{% if request.objects.all %}
    {% for p in productos  %}
        {{p.name}}
        {{p.precio}}
        {{p.talla}}
    {% endfor %}
{% else %}
    <p>no hay productos aún<p>
{% endif %}
{% endblock main %}
