{% extends "base.html" %}
{% block main %}
<h3>Notificaciones</h3>
    
<h3>Peticiones de Amistad</h3>
    {% if frequest %}

    {% for fr in frequest  %}
        <p>{{fr.sender}} {{fr.status}} {{fr.sent_at}}</p>
        <form method="post" action="{% url 'inner_circle:frequest_respuesta' pk=fr.pk %}">
            {% csrf_token %}
            <button type="submit" name="action" value="aceptar">Aceptar</button>
            <button type="submit" name="action" value="rechazar">Rechazar</button>
        </form>
        {% endfor %}
    {% else %}
            <p>no tienes peticiones de amistad</p>
        
        
    {% endif %}

   
{% endblock main %}
